<!doctype html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <title>İGEME Vize'nin Anasayfası</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>İGEME VİZE</h1>
  <nav>
    <a href="/">Ana Sayfa</a>
    <a href="/about/">Hakkımızda</a>
    <a href="/services/">Hizmetlerimiz</a>
     <a href="/contact/">İletişim</a>
</nav>
  <p>
      <p> Schengen vizesi almak artık sadece evrak toplamak değil. 2026 </p>
      <p> için güncel, stratejik ve ikna edici başvuru rehberini keşfet. </p>
      <p> Ret riskini azalt, vize şansını artır. </p>
  </p>
</body>